.todoContainer {
	margin-top: 1rem;
	width: 25.5rem;
	min-height: 2rem;
	border: 1px solid black;
	padding: 1rem;
	border-radius: 0.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem auto;
	flex-direction: column;
}

.todoList {
	width: 100%;
	min-height: 2rem;
	border: 1px solid black;
	border-radius: 0.2rem;
	background-color: rgb(135, 136, 138);
	color: white;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 1rem;
}
.completed {
	text-decoration: line-through;
	opacity: 0.6;
}
